@using WebApplication3.Models

@model IEnumerable<Employees>
@{
    Layout = null;
}
<h4>@ViewBag.number</h4>


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>

</head>

<body>
    @using (Html.BeginForm("Index","Employee", FormMethod.Post, new { enctype = "multipart/form-data"}))
            {
                <input type="submit" value="Show Data"/>
            }
    @if (Model.Count() > 0)
    {
         <hr />
         <table cellpadding="0" cellspacing="0">
              

          @foreach (Employees employees in Model)
          {
             <tr>
                 <td>@employees.FileName</td>
                 <td>@employees.EmployeeName</td>
                 <td>@employees.Salary</td>
                 <td>@employees.Email</td>
                 <td>@employees.Mobile</td>
                 <td>@employees.Qualification</td>
                 <td>@employees.FirstName</td>
                 <td>@employees.MiddleName</td>
                 <td>@employees.LastName</td>
                 <td>@employees.Address1</td>
                 <td>@employees.Address2</td>
                 <td>@employees.Address3</td>
                 <td>@employees.City</td>
                 <td>@employees.State</td>

             </tr>
          }

         </table>

    }

</body>
</html>

